{% extends 'base.html' %}
{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}
<h1>Contact</h1>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
<div class="container">
    <div class="social-links">
    <div class="row">
        <h5>CONNECT</h5>
				<ul class ="social social-link">
					<li>
                        <a href="http://www.facebook.com/campoasis" title="Facebook" class="icon-circle icon-circle--white">
                            <i class="icon icon-facebook" aria-hidden="true"></i><span class="facebook">Facebook</span></a>
                    </li>
					<li>
                        <a href="http://www.twitter.com/campoasis" title="Twitter" class="icon-circle icon-circle--white">
                            <i class="icon icon-twitter" aria-hidden="true"></i><span class="vh">Twitter</span></a>
                    </li>

					<li>
                        <a href="http://www.youtube.com/user/campoasis" title="YouTube" class="icon-circle icon-circle--white">
                            <i class="icon icon-youtube" aria-hidden="true"></i><span class="vh">YouTube</span></a>
                    </li>

					<li>
                        <a href="https://instagram.com/campoasis" title="Instagram" class="icon-circle icon-circle--white">
                            <i class="icon icon-instagram" aria-hidden="true"></i><span class="vh">Instagram</span></a>
                    </li>
					<li>
                        <a href="https://plus.google.com/+universitynorthampton/posts" title="Google Plus" class="icon-circle icon-circle--white">
                            <i class="icon icon-googleplus" aria-hidden="true"></i><span class="vh">Google Plus</span></a>
                    </li>
				</ul>
			</div>

			<div class="col-sm-6">
				<h5>SUBSCRIBE</h5>
					<form action="#">
						<div class="form-group">
							<input type="text" class="btn btn-md" name="email" id="email" placeholder="Your Email" required>
							<button class="btn btn-primary btn-md" type="submit">Submit</button>
						</div>
					</form>
			</div>
		</div>
    </div>
{% endblock %}