{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="home" class="home">
        <div class="overlay">
            <div class="home_skew_border">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="main_home_slider ">
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>Life is Fun, Fun is The Life</h3>
                                        <h1>WELCOME TO CAMPOASIS</h1>
                                        <div class="separator"></div>
                                        <p>CampOasis focuses on young people camping adventures, youth groups, university student teams, school adventure clubs
                                            and others with their leaders. Want to have some fun with other young people this is the place. So, what can you expect?</p>
                                        <ul class="features">
                                            <li >Lots of activities and also learning new skills</li>
                                            <li> Unforgottable days and nights of adventures and reconnecting with nature</li>
                                            <li>Forget school, homework and also parents</li>
                                            <li>Relax and recharge with fresh air, campfire stories and open fire cooked food</li>
                                            <li>Spend quality time with friends and make new ones</li>
                                            <li>Also this is very affordable</li>
                                        </ul>
                                        <div class="home_btn">
                                            <a href="#" class="btn btn-lg m_t_10">GET STARTED NOW</a>
                                            <a href="#" class="btn btn-default">LEARN MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}